<div class="posts">
  <% @posts.each do |post| %>
    <section class="post">
      <div class="user">
        <div class="avatar">
          <% if post.user.avatar.attached? %>
            <%= link_to user_path(post.user) do %>
              <%= image_tag post.user.avatar %>
             <% end %>
             <% end %>
        </div>
        <div class="username">
        <%= link_to post.user.username, user_path(post.user), class: 'username' %>
        </div>
      </div>
      <%# <%= image_tag post.image, class: 'main-image' %>
      <div class="description">
        <%= post.description %>
      </div>
    </section>
  <% end %>
</div>
